.player-controller {
  width: 100%;
  background-color: var(--controller-bg);
}

@media screen and (min-width: 1260px) {
  .controller-container {
    max-width: 1260px;
    height: 50px;
    margin: auto;
  }

  .seek-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 500px;

    p {
      margin-right: 30px;
    }
  }

  .music-info-container {
    position: relative;
    width: 300px;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
      background: var(--controller-info-hover);
    }

    .click-me {
      bottom: 150%;
      left: 30%;
      transform: translateX(-50%);
    }
  }

  .player-controller {
    border-top: solid 1px var(--controller-border);
  }

  .controller-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .is-theater > .player-container {
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
    opacity: 1;
    pointer-events: auto;

    .player,
    iframe {
      width: 100%;
      height: 100%;
      opacity: 1;
    }
  }

  .player-container {
    position: fixed;
    top: 100%;
    left: 70%;

    opacity: 0;
    transition: all 0.5s;
  }

  .volume-controller-container {
    position: relative;
  }

  .volume-here {
    position: absolute;
    bottom: 260%;
    left: -120%;
  }
}
