.sairi-player-button {
  cursor: pointer;
  background: transparent;
  border: none;
  transition: color 0.2s;
  color: var(--controller-button-fc);

  &:focus {
    outline: none;
  }

  &:disabled {
    color: var(--controller-button-disabled);
    cursor: not-allowed;
  }

  &:not(:disabled) {
    &.has-bounce:active {
      animation: bounce-in 0.1s;
    }

    &:hover {
      color: var(--controller-button-hover);
    }
  }
}

.sairi-popup {
  position: absolute;
  width: 120px;
  height: 50px;
  background: var(--controller-clickme-bg);
  color: var(--controller-clickme-fc);
  border-radius: 5px;
  text-align: center;
  animation: hovering 1s infinite;

  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 0 12px;
    border-color: var(--controller-clickme-bg) transparent transparent
      transparent;
  }
}
