.dj7-logo {
  img {
    height: 50px;
  }

  .crown {
    position: relative;
    left: 5px;
    bottom: 7px;
  }
}

.room-desc {
  margin-bottom: 15px;
}

.share-button-container {
  margin-bottom: 10px;
}

.room-users {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  width: 100%;
  margin-bottom: 10px;
  // flex-wrap: wrap;
  overflow-x: overlay;

  img {
    height: 50px;
  }
}

.label-desc {
  margin: 0;
}

.header {
  margin: 0;
  height: 30px;
  text-align: center;
  border-bottom: solid 1px var(--hub-header-border);
  font-size: 1.2em;
  font-weight: 700;
}

.music-list {
  width: 430px;
  height: calc(100% - 20px);
  overflow-x: hidden;
  overflow-y: auto;
}

.no-music {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: var(--hub-no-music-bg);
  color: var(--hub-no-music-fc);
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.player-controller {
  position: fixed;
  bottom: 0;
  z-index: 100;
}

.jumper {
  margin-bottom: 15px;
}
