.admin {
  width: 100%;
  height: 100%;
}

.save-button-container {
  padding-left: 10px;
  margin: 10px 0;
}

.user-settings {
  display: grid;
  width: 300px;
  height: 70px;
  grid-template-areas:
    "icon name"
    "icon boxes";

  div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70px;
    margin-right: 10px;
    grid-area: icon;

    img {
      height: 50px;
    }
  }

  div:nth-child(2) {
    grid-area: name;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    p {
      margin: 0;
    }
  }

  div:nth-child(3) {
    grid-area: boxes;
  }
}

@media screen and (min-width: 1260px) {
  .admin {
    padding: 30px;
  }
}

@media screen and (max-width: 1260px) {
  .admin {
    width: calc(100% - 20px);
    padding: 10px;
  }
}
